mixin timeStamp()
  - var d = new Date()
  - var m = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December' ]
  time 
    = m[d.getMonth()] 
    |  
    = d.getDate()
    | , 
    = d.getFullYear() 
  //- var lastUpdated = d.getFullYear() + '-' + (d.getMonth()<10?'0':'') + d.getMonth() + '-' + (d.getDate()<10?'0':'') + d.getDate() + '@' + (d.getHours()<10?'0':'') + d.getHours() + ':' + (d.getMinutes()<10?'0':'') + d.getMinutes() + ':' + (d.getSeconds()<10?'0':'') + d.getSeconds()  


mixin formatDate(d)
  - var allMonths = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December' ]
  - var e = d.split("-");
  time
    = allMonths[parseInt(e[1] - 1)]
    |  
    = e[2]
    | , 
    = e[0]


mixin link(title,url)
  a(href=url target="_blank" nofollow noopener)= title

mixin card(title, url, background, logo, launched)
  figure.card
    a.flipper(href=url)
      - var styl
      if background.includes('#')
        - styl = "background-color:" + background
      else if background.includes('.jpg')
        - styl = "background-image:url(img/"+background+")"
      .front(style=styl)
        if logo.includes('svg')
          img.logo(src="svg/"+logo)
        else
          img.logo(src="img/"+logo)
      .back
        h3.title= title
        block

mixin prevTalk(title,img,d,city)
  .talk
    figure(style="background-image:url(img/talks/"+img+")")
    figcaption
      .conference #{title}
      time #{d}
      .city #{city}