mixin timeStamp(t)
  - var d
  if t
    - d = new Date(t)
  else
    - d = new Date()


  - var m = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December' ]
  time 
    = m[d.getMonth()] 
    |  
    = d.getDate()
    | , 
    = d.getFullYear() 
  //- var lastUpdated = d.getFullYear() + '-' + (d.getMonth()<10?'0':'') + d.getMonth() + '-' + (d.getDate()<10?'0':'') + d.getDate() + '@' + (d.getHours()<10?'0':'') + d.getHours() + ':' + (d.getMinutes()<10?'0':'') + d.getMinutes() + ':' + (d.getSeconds()<10?'0':'') + d.getSeconds()  


mixin formatDate(e, f)
  if !e
    - var x = new Date()
    - var e = x.getFullYear() + '-' + (x.getMonth()<10?'0':'') + x.getMonth() + '-' + (x.getDate()<10?'0':'') + x.getDate()
  - var allMonths = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December' ]
  - var MonthAbbr = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec' ]
  - var g = e.split("-");
  if f == "m d"
    time
      = MonthAbbr[parseInt(g[1] - 1)]
      |  
      = g[2]
  else
    time
      = MonthAbbr[parseInt(g[1] - 1)]
      |  
      = g[2]
      | , 
      = g[0]


mixin dateRange(e,f)
  - var allMonths = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December' ]
  - var MonthAbbr = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec' ]
  - var g = e.split("-");
  - var h = f.split("-");

  if (g[1] == h[1])
    time
      = MonthAbbr[parseInt(g[1] - 1)]
      |  
      = g[2]
      |  -  
      = h[2]
      | ,  
      = h[0]
  else
    time
      = MonthAbbr[parseInt(g[1] - 1)]
      |  
      = g[2]
      |  -  
      = MonthAbbr[parseInt(h[1] - 1)]
      |  
      = h[2]
      | ,  
      = h[0]
      


mixin link(title,url)
  a(href=url target="_blank" nofollow noopener)= title

mixin card(title, url, background, logo, launched)
  figure.card
    a.flipper(href=url)
      - var styl
      if background.includes('#')
        - styl = "background-color:" + background
      else if background.includes('.jpg')
        - styl = "background-image:url(img/"+background+")"
      .front(style=styl)
        if logo.includes('svg')
          img.logo(src="svg/"+logo alt=title+" logo")
        else
          img.logo(src="img/"+logo alt=title+" logo")
      .back
        h3.title= title
        block

mixin prevTalk(title,img,d,city)
  .talk
    figure(style="background-image:url(img/talks/"+img+")")
    figcaption
      .conference #{title}
      time #{d}
      .city #{city}

mixin talkSlider(w)
  if w == "upcoming"
    .upcoming-conferences.conferences
      .slider-header
        h2 
          | UPCOMING TALKS 
          sub (#{upcomingTalks.length})
        .more-holder
          a(href="talks.html") see all
      .upcoming-conference-carousel.carousel
        each t,index in upcomingTalks
          .conference.upcoming
            if t.name && t.url
              .name
                a(href=t.url target="_blank")= t.name
            else if t.name
              .name= t.name
            .location
              
              if t.city && t.state
                span #{t.city}, #{t.state}
                if t.online
                  span  (virtual)
              else if t.city && t.country
                span #{t.city}, #{t.country}
                if t.online
                  span  (virtual)
              else if t.online
                span Online Conference
            .date
              // Date
              if t.postponed
                strong POSTPONED
              else if t.startDate && t.endDate
                +dateRange(t.startDate, t.endDate)
              else if t.date
                .date(itemprop="startDate" content=t.date)
                  +formatDate(t.date)
                //-meta(itemprop="endDate" content=t.date)


            .presenting Presenting:
            if t.talks
              ul.multiple-talks
                each u,uindex in t.talks
                  li.talk= u
            else if t.talk
              ul
                li.talk= t.talk

        if upcomingTalks.length < 1
          .conference.upcoming(style="display:flex; align-items:center; justify-content:center;")
            p(style="font-size:120%") None currently scheduled.

        if upcomingTalks.length < 2
          .conference.upcoming(style="display:flex; align-items:center; justify-content:center;")
            p(style="font-size:120%")
              a(href="https://sessionize.com/lemon") Invite me to speak
              | , please.

  else if w == 'previous'
    .previous-conferences.conferences
      .slider-header
        h2 
          | PREVIOUS TALKS 
          sub (#{previousTalks.length})
        .more-holder
          a(href="talks.html#previous") see all
      .previous-conference-carousel.carousel
        each t,index in previousTalks
          - let p = ""
          if t.pics
            - p = "img/talks/" + t.pics[0]
          else if t.img
            - p = "img/talks/" + t.img
          figure.conference.prev(style="background-image:url("+p+")")
            figcaption
              .name= t.name
                //-a(href=t.url target="_blank")= t.name
              .location(style="text-transform:uppercase; font-size:100%; font-weight:bold;")
                if t.city && t.state
                  span #{t.city}, #{t.state}
                else if t.city && t.country
                  span #{t.city}, #{t.country}
              .date
                if t.startDate && t.endDate
                  .date
                    span(itemprop="startDate" content=t.startDate)
                      +formatDate(t.startDate, "m d")
                    | - 
                    span(itemprop="endDate" content=t.endDate)
                      +formatDate(t.endDate)
                else if t.date
                  .date(itemprop="startDate" content=t.date)
                    +formatDate(t.date)

mixin projectSummary(s)
  - let bgStyle = ""
  - let fgImage = ""
  - let bgiFile = ""
  if s.bgColor
    - bgStyle = "background-color:" + s.bgColor +"; "
  else if s.bgImage
    if s.bgImage.includes("svg")
      - bgiFile = "svg/"+s.bgImage
    else if s.bgImage
      - bgiFile = "img/"+s.bgImage
    - bgStyle = "background-image:url("+bgiFile+"); "
  else if s.bgGradient
    - bgStyle = "background:"+s.bgGradient+"; "

  if s.fgImage
    if s.fgImage.includes("svg")
      - fgImage = "svg/"+s.fgImage
    else if s.fgImage
      - fgImage = "img/"+s.fgImage

  .project(repo=s.repo)
    figure(style=bgStyle)
      if fgImage != ""
        a(href=s.url)
          img.logo(src=fgImage alt=s.title+" logo")
      else if s.bgImage
        a.absolute-link(href=s.url style=bgStyle)
          //-img.logo(src=bgiFile)
    figcaption
      .title
        a(href=s.url)= s.title
      if (s.subhead)
        .subhead= s.subhead
      else if (s.type)
        .type= s.type

      .description !{s.description}

    .detail-row
      //-if (s.type)
        .detail
          .label &nbsp;
          .value= s.type
      if (s.launched)
        .detail.launched
          .label LAUNCHED
          .value
            +formatDate(s.launched)
      if s.repo
        .detail.last-updated.invisible
          .label LAST UPDATED
          .value
      if (s.retired)
        .detail.retired
          .label RETIRED
          .value
            +formatDate(s.retired)
      if s.repo
        .detail.repository
          .label REPOSITORY
          .value
            //-a(href="https://github.com/"+s.repo)
              svg(viewbox='0 0 24 24' xmlns='http://www.w3.org/2000/svg')
                title GitHub icon
                path(d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12')
            a(href="https://github.com/"+s.repo target="_blank")
              span= s.repo.split('/')[1]
              


    
    if s.repo
      - let repoURL = ""
      if s.repo == ( "AhoyLemon/kinda.fun" || "AhoyLemon/damn.dog" || "AhoyLemon/TheFPlus" )
        - repoURL = "https://api.github.com/repos/" + s.repo + "/commits/main"
      else 
        - repoURL = "https://api.github.com/repos/" + s.repo + "/commits/master"
      script.

        $.ajax({
          url: "#{repoURL}",
          dataType: 'json',
          success: function( data ) {
            var items = [];
            let timeStamp = data.commit.author.date;
            let lU = timeStamp.split('T');
            let lastUpdated = lU[0];
            console.log(lastUpdated);
            if (lastUpdated) {
              $('.project[repo="#{s.repo}"] .last-updated .value').html(formatDate(lastUpdated));
              $('.project[repo="#{s.repo}"] .last-updated').removeClass('invisible');
            }
          },
          error: function( data ) {
            console.log('ERROR ' + data.status + ' on #{s.repo}');
            //$('.project[repo="#{s.repo}"] .last-updated').remove();
          }
        });



mixin techIcon(i)
  - i = i.toLowerCase()
  if i == "php"
    svg(role='img' class=i viewBox='0 0 24 24', xmlns='http://www.w3.org/2000/svg')
      title PHP
      path(d='M7.01 10.207h-.944l-.515 2.648h.838c.556 0 .97-.105 1.242-.314.272-.21.455-.559.55-1.049.092-.47.05-.802-.124-.995-.175-.193-.523-.29-1.047-.29zM12 5.688C5.373 5.688 0 8.514 0 12s5.373 6.313 12 6.313S24 15.486 24 12c0-3.486-5.373-6.312-12-6.312zm-3.26 7.451c-.261.25-.575.438-.917.551-.336.108-.765.164-1.285.164H5.357l-.327 1.681H3.652l1.23-6.326h2.65c.797 0 1.378.209 1.744.628.366.418.476 1.002.33 1.752a2.836 2.836 0 0 1-.305.847c-.143.255-.33.49-.561.703zm4.024.715l.543-2.799c.063-.318.039-.536-.068-.651-.107-.116-.336-.174-.687-.174H11.46l-.704 3.625H9.388l1.23-6.327h1.367l-.327 1.682h1.218c.767 0 1.295.134 1.586.401s.378.7.263 1.299l-.572 2.944h-1.389zm7.597-2.265a2.782 2.782 0 0 1-.305.847c-.143.255-.33.49-.561.703a2.44 2.44 0 0 1-.917.551c-.336.108-.765.164-1.286.164h-1.18l-.327 1.682h-1.378l1.23-6.326h2.649c.797 0 1.378.209 1.744.628.366.417.477 1.001.331 1.751zM17.766 10.207h-.943l-.516 2.648h.838c.557 0 .971-.105 1.242-.314.272-.21.455-.559.551-1.049.092-.47.049-.802-.125-.995s-.524-.29-1.047-.29z')
  else if i == "sass" || i == "scss"
    svg(role='img' class=i viewBox='0 0 24 24', xmlns='http://www.w3.org/2000/svg')
      title Sass
      path(d='M12 0c6.627 0 12 5.373 12 12s-5.373 12-12 12S0 18.627 0 12 5.373 0 12 0zM9.615 15.998c.175.645.156 1.248-.024 1.792l-.065.18c-.024.061-.052.12-.078.176-.14.29-.326.56-.555.81-.698.759-1.672 1.047-2.09.805-.45-.262-.226-1.335.584-2.19.871-.918 2.12-1.509 2.12-1.509v-.003l.108-.061zm9.911-10.861c-.542-2.133-4.077-2.834-7.422-1.645-1.989.707-4.144 1.818-5.693 3.267C4.568 8.48 4.275 9.98 4.396 10.607c.427 2.211 3.457 3.657 4.703 4.73v.006c-.367.18-3.056 1.529-3.686 2.925-.675 1.47.105 2.521.615 2.655 1.575.436 3.195-.36 4.065-1.649.84-1.261.766-2.881.404-3.676.496-.135 1.08-.195 1.83-.104 2.101.24 2.521 1.56 2.43 2.1-.09.539-.523.854-.674.944-.15.091-.195.12-.181.181.015.09.091.09.21.075.165-.03 1.096-.45 1.141-1.471.045-1.29-1.186-2.729-3.375-2.7-.9.016-1.471.091-1.875.256-.03-.045-.061-.075-.105-.105-1.35-1.455-3.855-2.475-3.75-4.41.03-.705.285-2.564 4.8-4.814 3.705-1.846 6.661-1.335 7.171-.21.733 1.604-1.576 4.59-5.431 5.024-1.47.165-2.235-.404-2.431-.615-.209-.225-.239-.24-.314-.194-.12.06-.045.255 0 .375.12.3.585.825 1.396 1.095.704.225 2.43.359 4.5-.45 2.324-.899 4.139-3.405 3.614-5.505l.073.067z')
  else if i == "javascript" || i == "js"
    svg(role='img' class=i viewBox='0 0 24 24', xmlns='http://www.w3.org/2000/svg')
      title JavaScript
      path(d='M0 0h24v24H0V0zm22.034 18.276c-.175-1.095-.888-2.015-3.003-2.873-.736-.345-1.554-.585-1.797-1.14-.091-.33-.105-.51-.046-.705.15-.646.915-.84 1.515-.66.39.12.75.42.976.9 1.034-.676 1.034-.676 1.755-1.125-.27-.42-.404-.601-.586-.78-.63-.705-1.469-1.065-2.834-1.034l-.705.089c-.676.165-1.32.525-1.71 1.005-1.14 1.291-.811 3.541.569 4.471 1.365 1.02 3.361 1.244 3.616 2.205.24 1.17-.87 1.545-1.966 1.41-.811-.18-1.26-.586-1.755-1.336l-1.83 1.051c.21.48.45.689.81 1.109 1.74 1.756 6.09 1.666 6.871-1.004.029-.09.24-.705.074-1.65l.046.067zm-8.983-7.245h-2.248c0 1.938-.009 3.864-.009 5.805 0 1.232.063 2.363-.138 2.711-.33.689-1.18.601-1.566.48-.396-.196-.597-.466-.83-.855-.063-.105-.11-.196-.127-.196l-1.825 1.125c.305.63.75 1.172 1.324 1.517.855.51 2.004.675 3.207.405.783-.226 1.458-.691 1.811-1.411.51-.93.402-2.07.397-3.346.012-2.054 0-4.109 0-6.179l.004-.056z')
  else if i == "pug"
    svg(role='img' class=i viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg')
      title Pug
      path(d='M12.094 4.636c-2.066 0-3.682.204-4.922.57a6.451 6.451 0 0 0 .091-.084c.038-.037-.05-.062-.228-.068-.534-.018-1.867.143-2.99.705C2.772 6.358-.073 9.504 0 9.69c.075.187 1.46 1.345 1.872 1.795.262.3 1.048 2.959 1.76 2.51.188-.131.265-.651.33-1.293.058.497.115 1.013.193 1.48.112.749 1.087 1.347 1.2 2.059.138 1.014.76 1.723 1.98 2.174.484.668 1.238.33 1.8.634.9.487 1.91.262 2.92.262 1.012 0 1.985.186 2.92-.3.577-.3 1.32.03 1.81-.58 1.225-.45 1.831-1.164 1.972-2.19.112-.712 1.048-1.31 1.16-2.059.064-.38.11-.802.158-1.203.057.5.13.904.291 1.016.674.449 1.498-2.21 1.76-2.51.412-.45 1.797-1.608 1.872-1.795.074-.188-2.808-3.333-4.08-3.932-1.124-.562-2.457-.723-2.991-.705-.167.005-.245.029-.225.062-1.174-.308-2.672-.48-4.61-.48zm.03.5c2.203 0 3.848.225 5.01.615.133.045.238.098.358.147.69.715 1.624 1.83 2.014 3.117.025.08.04.166.063.248v.008c.045.77.316 1.417.23 1.99-.153.998-.228 1.973-.373 2.84l-.002.004v.004c-.029.192-.218.476-.478.807-.261.33-.596.702-.682 1.248v.006l-.002.003c-.1.733-.42 1.2-1.17 1.582.125-.444.205-1.055.205-1.963.037-1.123.077-1.572-.86-2.695a5.53 5.53 0 0 0-2.792-1.898c-.111-.39-.722-.836-1.551-.836s-1.415.422-1.535.82a5.533 5.533 0 0 0-2.846 1.914c-.936 1.123-.86 1.61-.86 2.696 0 .903.08 1.513.203 1.96-.77-.384-1.107-.856-1.207-1.58v-.01c-.087-.553-.437-.923-.707-1.253-.27-.33-.462-.617-.49-.801l-.002-.004V14.1c-.144-.867-.22-1.84-.373-2.838v-.002c-.085-.573.183-1.22.229-1.99v.015c.013-.143.017-.24.025-.37.36-1.16 1.153-2.173 1.805-2.876a6.413 6.413 0 0 1 .724-.289c1.192-.391 2.86-.615 5.063-.615zM6.913 8.94a1.647 1.647 0 0 0-1.635 1.648 1.647 1.647 0 0 0 1.648 1.647 1.647 1.647 0 0 0 .442-.06c.349-.376.718-.723 1.111-1.042a1.647 1.647 0 0 0 .094-.545 1.647 1.647 0 0 0-1.647-1.648 1.647 1.647 0 0 0-.013 0zm10.297 0a1.647 1.647 0 0 0-1.637 1.648 1.647 1.647 0 0 0 .15.684c.313.264.612.547.895.848a1.647 1.647 0 0 0 .604.115 1.647 1.647 0 0 0 1.646-1.647 1.647 1.647 0 0 0-1.646-1.648 1.647 1.647 0 0 0-.012 0zm-9.871.486a.412.412 0 0 1 .41.412.412.412 0 0 1-.41.412.412.412 0 0 1-.413-.412.412.412 0 0 1 .413-.412zm9.47 0a.412.412 0 0 1 .413.412.412.412 0 0 1-.412.412.412.412 0 0 1-.412-.412.412.412 0 0 1 .412-.412zm-5.109 1.486a.15.3 17.23 0 1 .03.004.15.3 17.23 0 1 .054.33.15.3 17.23 0 1-.232.243.15.3 17.23 0 1-.053-.33.15.3 17.23 0 1 .201-.247zm.672.022a.3.15 75.54 0 1 .205.254.3.15 75.54 0 1-.07.328.3.15 75.54 0 1-.22-.252.3.15 75.54 0 1 .07-.328.3.15 75.54 0 1 .015-.002zm-.316.476s.035.226.185.301c.15.075.862-.15.862-.15-.337.262-.973.263-.973.338v.373c0 .408.026 1.461-.031 1.685.823.005 2.09 1.126 2.09 2.508v.075c-.038-1.348-1.61-2.434-2.096-2.434-.487 0-2.06 1.048-2.098 2.434v-.075c0-1.362 1.233-2.47 2.057-2.506-.07-.551-.073-1.137-.073-1.687V11.9a5.098 5.098 0 0 0-.656-.237c.185.033.371.05.545.05.15-.076.188-.302.188-.302zM9.015 12.76a.15.15 0 0 1 .008 0 .15.15 0 0 1 .15.15.15.15 0 0 1-.15.151.15.15 0 0 1-.15-.15.15.15 0 0 1 .142-.15zm1.124 0a.15.15 0 0 1 .007 0 .15.15 0 0 1 .15.15.15.15 0 0 1-.15.151.15.15 0 0 1-.15-.15.15.15 0 0 1 .143-.15zm3.67 0a.15.15 0 0 1 .007 0 .15.15 0 0 1 .15.15.15.15 0 0 1-.15.151.15.15 0 0 1-.15-.15.15.15 0 0 1 .143-.15zm1.123 0a.15.15 0 0 1 .008 0 .15.15 0 0 1 .15.15.15.15 0 0 1-.15.151.15.15 0 0 1-.15-.15.15.15 0 0 1 .142-.15zm-5.653.899a.15.15 0 0 1 .008 0 .15.15 0 0 1 .148.15.15.15 0 0 1-.148.15.15.15 0 0 1-.15-.15.15.15 0 0 1 .142-.15zm5.391 0a.15.15 0 0 1 .006 0 .15.15 0 0 1 .15.15.15.15 0 0 1-.15.15.15.15 0 0 1-.149-.15.15.15 0 0 1 .143-.15Z')
  else if i == "kirby"
    svg(role='img' class=i viewBox='0 0 24 24', xmlns='http://www.w3.org/2000/svg')
      title Kirby
      path(d='M16.571 12l-2.857 1.48v.234h2.857V16H7.43v-2.286h2.857v-.25L7.429 12V9.143L12 11.598l4.571-2.455M12 0l10.286 5.999V18L12 24 1.714 18.001V6zM2.857 6.682v10.636L12 22.651l9.143-5.333V6.682L12 1.349Z')
  else if i == "vue"
    svg(role='img' class=i viewBox='0 0 24 24', xmlns='http://www.w3.org/2000/svg')
      title Vue.js
      path(d='M24,1.61H14.06L12,5.16,9.94,1.61H0L12,22.39ZM12,14.08,5.16,2.23H9.59L12,6.41l2.41-4.18h4.43Z')
  else if i == "jquery"
    svg(role='img' class=i viewBox='0 0 24 24', xmlns='http://www.w3.org/2000/svg')
      title jQuery
      path(d='M1.525 5.87c-2.126 3.054-1.862 7.026-.237 10.269.037.079.078.154.118.229.023.052.049.1.077.15.013.027.031.056.047.082.026.052.054.102.081.152l.157.266c.03.049.057.097.09.146.056.094.12.187.178.281.026.04.05.078.079.117a6.368 6.368 0 00.31.445c.078.107.156.211.24.315.027.038.058.076.086.115l.22.269c.028.03.055.067.084.099.098.118.202.233.306.35l.005.006a3.134 3.134 0 00.425.44c.08.083.16.165.245.245l.101.097c.111.105.223.209.34.309.002 0 .003.002.005.003l.057.05c.102.089.205.178.31.26l.125.105c.085.068.174.133.26.2l.137.105c.093.07.192.139.287.207.035.025.07.05.106.073l.03.023.28.185.12.08c.148.094.294.184.44.272.041.02.084.044.123.068.108.062.22.125.329.183.06.034.122.063.184.094.075.042.153.083.234.125a.324.324 0 01.056.023c.033.015.064.031.096.047.12.06.245.118.375.175.024.01.05.02.076.034.144.063.289.123.438.182.034.01.07.027.105.04.135.051.274.103.411.152l.05.018c.154.052.305.102.46.15.036.01.073.023.111.033.16.048.314.105.474.137 10.273 1.872 13.258-6.177 13.258-6.177-2.508 3.266-6.958 4.127-11.174 3.169-.156-.036-.312-.086-.47-.132a13.539 13.539 0 01-.567-.182l-.062-.024c-.136-.046-.267-.097-.4-.148a1.615 1.615 0 00-.11-.04c-.148-.06-.29-.121-.433-.184-.031-.01-.057-.024-.088-.036a23.44 23.44 0 01-.362-.17 1.485 1.485 0 01-.106-.052c-.094-.044-.188-.095-.28-.143a3.947 3.947 0 01-.187-.096c-.114-.06-.227-.125-.34-.187-.034-.024-.073-.044-.112-.066a15.922 15.922 0 01-.439-.27 2.107 2.107 0 01-.118-.078 6.01 6.01 0 01-.312-.207c-.035-.023-.067-.048-.103-.073a9.553 9.553 0 01-.295-.212c-.042-.034-.087-.066-.132-.1-.088-.07-.177-.135-.265-.208l-.118-.095a10.593 10.593 0 01-.335-.28.258.258 0 00-.037-.031l-.347-.316-.1-.094c-.082-.084-.166-.164-.25-.246l-.098-.1a9.081 9.081 0 01-.309-.323l-.015-.016c-.106-.116-.21-.235-.313-.355-.027-.03-.053-.064-.08-.097l-.227-.277a21.275 21.275 0 01-.34-.449C2.152 11.79 1.306 7.384 3.177 3.771m4.943-.473c-1.54 2.211-1.454 5.169-.254 7.508a9.111 9.111 0 00.678 1.133c.23.33.484.721.793.988.107.122.223.24.344.36l.09.09c.114.11.232.217.35.325l.016.013a9.867 9.867 0 00.414.342c.034.023.063.05.096.073.14.108.282.212.428.316l.015.009c.062.045.128.086.198.13.028.018.06.042.09.06.106.068.21.132.318.197.017.007.032.016.048.023.09.055.188.108.282.157.033.02.065.035.1.054.066.033.132.068.197.102l.032.014c.135.067.273.129.408.19.034.014.063.025.092.039.111.048.224.094.336.137.05.017.097.037.144.052.102.038.21.073.31.108l.14.045c.147.045.295.104.449.13C22.164 17.206 24 11.098 24 11.098c-1.653 2.38-4.852 3.513-8.261 2.628a8.04 8.04 0 01-.449-.13c-.048-.014-.09-.029-.136-.043-.104-.036-.211-.07-.312-.109l-.144-.054c-.113-.045-.227-.087-.336-.135-.034-.015-.065-.025-.091-.04-.14-.063-.281-.125-.418-.192l-.206-.107-.119-.06a5.673 5.673 0 01-.265-.15.62.62 0 01-.062-.035c-.106-.066-.217-.13-.318-.198-.034-.019-.065-.042-.097-.062l-.208-.136c-.144-.1-.285-.208-.428-.313-.032-.029-.063-.053-.094-.079-1.499-1.178-2.681-2.79-3.242-4.613-.59-1.897-.46-4.023.56-5.75m4.292-.147c-.909 1.334-.996 2.99-.37 4.46.665 1.563 2.024 2.79 3.608 3.37.065.025.128.046.196.07l.088.027c.092.03.185.063.28.084 4.381.845 5.567-2.25 5.886-2.704-1.043 1.498-2.792 1.857-4.938 1.335a4.85 4.85 0 01-.516-.16 6.352 6.352 0 01-.618-.254 6.53 6.53 0 01-1.082-.66c-1.922-1.457-3.113-4.236-1.859-6.5')
  else if i == "craft"
    svg(role='img' class=i viewBox='0 0 24 24', xmlns='http://www.w3.org/2000/svg')
      title Craft CMS
      path(d='M21.474 0H2.526A2.516 2.516 0 0 0 0 2.526v18.948A2.516 2.516 0 0 0 2.526 24h18.948A2.534 2.534 0 0 0 24 21.474V2.526A2.516 2.516 0 0 0 21.474 0m-9.516 14.625c.786 0 1.628-.31 2.442-1.039l1.123 1.291c-1.18.955-2.527 1.488-3.874 1.488-2.667 0-4.35-1.769-3.958-4.267.393-2.498 2.667-4.266 5.334-4.266 1.29 0 2.498.505 3.34 1.431l-1.572 1.291c-.45-.59-1.207-.982-2.05-.982-1.6 0-2.834 1.039-3.087 2.526-.224 1.488.674 2.527 2.302 2.527')
  else if i == "jwplayer"
    svg(role="img" viewBox='0 0 24 24' class=i xmlns='http://www.w3.org/2000/svg', space='preserve', style='fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2')
      path(d='M125.9.41c-2.253-1.017-4.945-.026-6 2.21-1.1 2.3-29 69.66-29 69.66-.9 2.11-1.5 1.91-1.5-.3 0 0 .1-23.45.2-42.8.1-10.52-5.11-16.44-12.43-17.64a14.003 14.003 0 0 0-9.62 2.11 20.63 20.63 0 0 0-6.82 8.11c-2.2 4.31-15.83 44-15.83 44-.71 2.1-1.41 2-1.41-.2 0 0-.4-17.14-.8-21.15-.6-6.22-2-16.34-10-16.84-7.52-.5-10.93 8.82-12.83 14.53-1.31 3.81-7.52 24.36-7.52 24.36l-.9 2.1c-.3 1.11-.8 1.11-1.11 0l-.5-1.9a62.35 62.35 0 0 0-1.9-6 8.596 8.596 0 0 0-1.5-3 3.757 3.757 0 0 0-4-1A3.716 3.716 0 0 0 0 59.75c0 1.21.1 2.417.3 3.61C.82 67 3.43 81.2 5 84.31c1.57 3.11 5 4.71 8.22 3 3-1.61 4.41-5.31 5.61-8.22 1.53-3.71 9.23-25 9.23-25 .8-2.1 1.4-2 1.3.2 0 0-.4 20.85-.4 30.27 0 3.51.3 9.92 1.3 13.33a10.859 10.859 0 0 0 3.74 5.87 9.274 9.274 0 0 0 6.41 1.8 8.649 8.649 0 0 0 3.21-1.1 13.85 13.85 0 0 0 3.61-3.21 58.354 58.354 0 0 0 5.71-9.62c3.71-7.32 13.34-30 13.34-30 .9-2.11 1.5-1.91 1.5.3 0 0-1.2 38.09-1.2 52.62a29.728 29.728 0 0 0 2 10.63 12.804 12.804 0 0 0 6.62 7.31 11.546 11.546 0 0 0 10.42-.6 16.648 16.648 0 0 0 5.81-6 66.784 66.784 0 0 0 4.92-10.53c2.9-7.51 5.31-15.13 7.71-22.85 2.4-7.72 22.74-80.37 24.04-86.58a7.49 7.49 0 0 0 .2-2.11 4.532 4.532 0 0 0-2.4-3.41Z', style='fill:#ec0041;fill-rule:nonzero', transform='matrix(.17702 0 0 .17702 .815 .069)')
  else if i == "matomo"
    svg(role='img' class=i viewBox='0 0 24 24', xmlns='http://www.w3.org/2000/svg')
      title Matomo
      path(d='M6.664 15.37a3.336 3.336 0 0 1-3.332 3.332C1.495 18.702 0 17.208 0 15.37s1.495-3.333 3.332-3.333a3.338 3.338 0 0 1 3.332 3.333zm11.565-3.644a3.658 3.658 0 0 1-1.987.591 3.642 3.642 0 0 1-1.872-.529l.008.012a3.728 3.728 0 0 1-1.235-1.19l-2.612-3.693a.17.17 0 0 1-.027-.033A3.312 3.312 0 0 0 7.67 5.298a3.318 3.318 0 0 0-2.848 1.586.146.146 0 0 1-.021.028l-3.428 5.343a3.663 3.663 0 0 1 5.094 1.18.13.13 0 0 1 .015.018l2.756 3.869a3.305 3.305 0 0 0 2.699 1.38 3.31 3.31 0 0 0 2.711-1.379l.009-.013c.073-.103.137-.202.195-.305l1.442-2.255 1.935-3.024zm5.275 1.902l-.014-.028-.044-.066a1.109 1.109 0 0 0-.029-.044l-3.525-5.37c.024.168.052.335.052.51 0 .741-.219 1.457-.634 2.068l-2.803 4.38 1.416 2.179-.002.002a.131.131 0 0 1 .024.028 3.338 3.338 0 0 0 2.723 1.415A3.335 3.335 0 0 0 24 15.37c0-.613-.171-1.216-.496-1.742zm-7.262-1.666a3.336 3.336 0 0 0 3.332-3.333 3.336 3.336 0 0 0-3.332-3.332 3.336 3.336 0 0 0-3.332 3.332 3.338 3.338 0 0 0 3.332 3.333z')
  else if i == ".net" || i == "dotnet" || i == "net"
    svg(role='img' class="dotnet" viewbox='0 0 24 24' xmlns='http://www.w3.org/2000/svg')
      title .NET
      path(d='M24 8.77h-2.468v7.565h-1.425V8.77h-2.462V7.53H24zm-6.852 7.565h-4.821V7.53h4.63v1.24h-3.205v2.494h2.953v1.234h-2.953v2.604h3.396zm-6.708 0H8.882L4.78 9.863a2.896 2.896 0 0 1-.258-.51h-.036c.032.189.048.592.048 1.21v5.772H3.157V7.53h1.659l3.965 6.32c.167.261.275.442.323.54h.024c-.04-.233-.06-.629-.06-1.185V7.529h1.372zm-8.703-.693a.868.829 0 0 1-.869.829.868.829 0 0 1-.868-.83.868.829 0 0 1 .868-.828.868.829 0 0 1 .869.829Z')
  else if i == "azure"
    svg(role='img' class="azure" viewbox='0 0 24 24' xmlns='http://www.w3.org/2000/svg')
      title Microsoft Azure
      path(d='M22.379 23.343a1.62 1.62 0 0 0 1.536-2.14v.002L17.35 1.76A1.62 1.62 0 0 0 15.816.657H8.184A1.62 1.62 0 0 0 6.65 1.76L.086 21.204a1.62 1.62 0 0 0 1.536 2.139h4.741a1.62 1.62 0 0 0 1.535-1.103l.977-2.892 4.947 3.675c.28.208.618.32.966.32m-3.084-12.531 3.624 10.739a.54.54 0 0 1-.51.713v-.001h-.03a.54.54 0 0 1-.322-.106l-9.287-6.9h4.853m6.313 7.006c.116-.326.13-.694.007-1.058L9.79 1.76a1.722 1.722 0 0 0-.007-.02h6.034a.54.54 0 0 1 .512.366l6.562 19.445a.54.54 0 0 1-.338.684')
  else if i == "yaml"
    svg(viewbox='0 0 24 24' class="yaml" xmlns='http://www.w3.org/2000/svg' xml:space='preserve' style='fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2')
      title YAML
      path(d='M73 1h24L25 109H1l36-54L1 1h24l24 36L73 1ZM31 109h24l48-72v72h24V1h-24L31 109Z' style='fill-rule:nonzero' transform='matrix(.09696 0 0 .09696 3.91 .751)')
      path(d='M132 109h24V37l24 36 24-36v72h24V1h-30l-18 36-24-36h-24v108Z' style='fill-rule:nonzero' transform='matrix(.09696 0 0 .09696 -8.87 12.446)')
      path(d='M234 109h84l-16-24h-44V1h-24v108Z' style='fill-rule:nonzero' transform='matrix(.09696 0 0 .09696 -8.81 12.466)')
  else if i == "aos" || i == "aos.js" || I == "Animate On Scroll"
    svg(viewbox='0 0 24 24' class="aos" xmlns='http://www.w3.org/2000/svg' xml:space='preserve' style='fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2')
      title AOS.js
      path(d='M10.08 11.76H8.193l-.75-1.952H4.009L3.3 11.76H1.461l3.345-8.59H6.64l3.44 8.59ZM6.886 8.361 5.703 5.174l-1.16 3.187h2.343ZM10.648 7.517c0-.875.131-1.609.393-2.203.195-.437.462-.83.799-1.177a3.338 3.338 0 0 1 1.111-.774c.535-.226 1.152-.34 1.851-.34 1.266 0 2.279.393 3.038 1.178.76.785 1.14 1.877 1.14 3.275 0 1.387-.377 2.472-1.131 3.255-.754.784-1.761 1.175-3.023 1.175-1.278 0-2.293-.389-3.047-1.169-.754-.779-1.131-1.852-1.131-3.22Zm1.787-.058c0 .973.225 1.71.674 2.212.449.502 1.02.753 1.711.753.691 0 1.259-.249 1.702-.747.443-.498.665-1.245.665-2.242 0-.984-.216-1.718-.647-2.203-.432-.484-1.005-.726-1.72-.726-.715 0-1.291.245-1.729.735-.437.49-.656 1.23-.656 2.218ZM19.894 8.965l1.688-.164c.101.566.307.982.618 1.248.31.265.729.398 1.257.398.558 0 .979-.118 1.262-.354.284-.237.425-.513.425-.829a.778.778 0 0 0-.179-.519c-.119-.143-.327-.267-.624-.372-.203-.07-.666-.195-1.388-.375-.93-.231-1.582-.514-1.957-.85-.528-.472-.791-1.048-.791-1.728 0-.438.124-.847.372-1.228s.605-.671 1.072-.87c.467-.199 1.03-.299 1.69-.299 1.079 0 1.89.237 2.435.709.545.473.831 1.104.858 1.893l-1.734.076c-.074-.441-.233-.759-.477-.952-.245-.193-.611-.29-1.099-.29-.504 0-.899.103-1.184.31a.628.628 0 0 0-.275.534c0 .203.086.377.258.521.218.184.75.375 1.593.574.844.2 1.468.406 1.873.619.404.212.72.503.949.873.228.369.343.825.343 1.368 0 .492-.137.953-.411 1.383a2.46 2.46 0 0 1-1.16.958c-.5.209-1.123.313-1.869.313-1.086 0-1.92-.251-2.502-.753-.582-.502-.93-1.233-1.043-2.194Z' style='fill-rule:nonzero' transform='matrix(.87088 0 0 .8743 -.06 5.216)')
  else if i == "untappd"
    svg(role='img' class="untappd" viewbox='0 0 24 24' xmlns='http://www.w3.org/2000/svg')
      title Untappd
      path(d='M11 13.299l-5.824 8.133c-.298.416-.8.635-1.308.572-.578-.072-1.374-.289-2.195-.879S.392 19.849.139 19.323a1.402 1.402 0 0 1 .122-1.425l5.824-8.133a3.066 3.066 0 0 1 1.062-.927l1.146-.604c.23-.121.436-.283.608-.478.556-.631 2.049-2.284 4.696-4.957l.046-.212a.134.134 0 0 1 .096-.1l.146-.037a.135.135 0 0 0 .101-.141l-.015-.18a.13.13 0 0 1 .125-.142c.176-.005.518.046 1.001.393s.64.656.692.824a.13.13 0 0 1-.095.164l-.175.044a.133.133 0 0 0-.101.141l.012.15a.131.131 0 0 1-.063.123l-.186.112c-1.679 3.369-2.764 5.316-3.183 6.046a2.157 2.157 0 0 0-.257.73l-.205 1.281A3.074 3.074 0 0 1 11 13.3zm12.739 4.598l-5.824-8.133a3.066 3.066 0 0 0-1.062-.927l-1.146-.605a2.138 2.138 0 0 1-.608-.478 50.504 50.504 0 0 0-.587-.654.089.089 0 0 0-.142.018 97.261 97.261 0 0 1-1.745 3.223 1.42 1.42 0 0 0-.171.485 3.518 3.518 0 0 0 0 1.103l.01.064c.075.471.259.918.536 1.305l5.824 8.133c.296.413.79.635 1.294.574a4.759 4.759 0 0 0 2.209-.881 4.762 4.762 0 0 0 1.533-1.802 1.4 1.4 0 0 0-.122-1.425zM8.306 3.366l.175.044a.134.134 0 0 1 .101.141l-.012.15a.13.13 0 0 0 .063.123l.186.112c.311.623.599 1.194.869 1.721.026.051.091.06.129.019.437-.469.964-1.025 1.585-1.668a.137.137 0 0 0 .003-.19c-.315-.322-.645-.659-1.002-1.02l-.046-.212a.13.13 0 0 0-.096-.099l-.146-.037a.135.135 0 0 1-.101-.141l.015-.18a.13.13 0 0 0-.123-.142c-.175-.005-.518.045-1.002.393-.483.347-.64.656-.692.824a.13.13 0 0 0 .095.164z')
  else if i == "lottie"
    svg(viewbox='0 0 24 24' class="lottie" xmlns='http://www.w3.org/2000/svg' xml:space='preserve' style='fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2')
      title Lottie
      path(d='M1.8 0C.813 0 0 .801 0 1.775v20.468c0 .974.813 1.775 1.8 1.775h20.42c.988 0 1.801-.8 1.801-1.775V1.775c0-.974-.813-1.775-1.8-1.775H1.8Zm17.52 6.095a1.206 1.206 0 0 0-1.016-1.37c-2.489-.368-4.847 1.843-7.362 6.631-1.974 3.76-3.75 5.65-4.96 5.56a1.207 1.207 0 0 0-.178 2.406c2.449.181 4.775-2.086 7.275-6.844 1.957-3.727 3.705-5.54 4.872-5.366a1.207 1.207 0 0 0 1.37-1.018Z')
  else if i == "howler" || i == "howler.js"
    svg(viewBox='0 0 24 24' class="howler" xmlns='http://www.w3.org/2000/svg', xml:space='preserve', style='fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2')
      path(d='M13.72.087c.87-.006 1.727-.003 2.395.196.329.093.645.225.942.395.202.133.397.277.583.431l.843.629c.542.386 1.042.81 1.558 1.22l.57.52c.299.252.57.537.809.848.46.524.818 1.13 1.055 1.787.065.233.114.47.145.71l.015.3.004.29c.007.228-.006.455-.037.68-.048.281-.062.539-.127.793a13 13 0 0 1-.612 1.768l-.395.91a.552.552 0 0 0-.104.314 2 2 0 0 1 .504.61c.259.44.433.925.513 1.43.042.208.016.42.052.647.026.258.021.518-.014.774l-.052.577c-.066.402-.156.8-.269 1.191-.465 1.467-1.35 2.589-2.636 3.241a5.14 5.14 0 0 1-.988.362 1.314 1.314 0 0 1-.542.06 4.335 4.335 0 0 1-.998-.272 2.672 2.672 0 0 0-.64-.23c-.516.281-.897 1.126-1.017 1.82l.038 1.615a.306.306 0 0 1-.184.005.42.42 0 0 1-.222-.236 3.416 3.416 0 0 0-1.482-1.177c-.24-.085-.5-.091-.744-.018a1.58 1.58 0 0 0-.508.394h-.01a2.223 2.223 0 0 0-.47-.38 2.838 2.838 0 0 0-2.297-.525c-.367.086-.698.273-.977.345-.237.06-.477.111-.718.152-.262.035-.378.053-.788.09-.324.022-.65.017-.973-.015a1.264 1.264 0 0 1-.414-.097.161.161 0 0 1-.09-.118h.006c.017.057.447.1.616.084.205-.017.41-.045.612-.084.313-.055.61-.178.871-.361.754-.549 1.192-1.407 1.558-2.345.126-.324.19-.681.292-1.023a9.29 9.29 0 0 0 .221-1.027c.027-.148.042-.299.047-.45.004-.144.035-.153.116.036.149.289.25.6.3.922h.004c.015-.066.043-.13.057-.207.025-.187.029-.377.01-.565-.026-.424-.052-.617-.067-.818-.005-.102-.02-.2-.026-.302-.035-.215-.05-.399-.087-.613-.047-.274-.122-.565.085-.727.097-.076.207-.133.325-.169.486-.148 1.15.051 1.586.142.16.04.326.053.49.038.174-.016.346-.043.517-.08a3.16 3.16 0 0 0 1.563-1.07c.175-.216.426-.347.537-.628.235-.593-.059-1.606-.213-2.092a4.606 4.606 0 0 0-2.707-2.922 4.965 4.965 0 0 0-.913-.263l-.362-.033-.344-.004-.32.033a2.253 2.253 0 0 0-.97.36c-.277.221-.543.793-.927.864l-.08-.253c-.07-.237-.108-.488-.292-.61a1.062 1.062 0 0 0-.776-.014c-.525.148-.99.46-1.324.891l-.353.362c-.35.433-.642.652-.758 1.341-.012.108-.007.217.014.324.054.293.122.584.202.872.05.139.075.284.076.431a.581.581 0 0 1-.142.207c-.161.203-.37.364-.527.567a4.718 4.718 0 0 0-.718 1.638c-.086.335-.111.72-.174 1.094-.006.174-.017.323-.024.497.005.437-.01.413 0 .658.007.154.05.702-.038.744a.683.683 0 0 1-.353-.019 2.112 2.112 0 0 1-.861-.36 2.256 2.256 0 0 1-.82-1.329 5.306 5.306 0 0 1 .146-2.79c.092-.266.209-.522.349-.765a.4.4 0 0 1 .202-.23l.005.005c.083.043.07.236.07.361-.029.294-.021.59.024.882.164-.005.172-.22.213-.347.075-.244.244-.768.535-.774v.01c.004.157-.027.314-.09.459a4.037 4.037 0 0 0-.089 1.032c0 .137-.015.487.052.544l.01-.01c.198-.098.26-.665.338-.91.101-.366.243-.72.424-1.055.164-.273.371-.501.537-.77.073-.118.333-.53.193-.732a.324.324 0 0 0-.32-.01c-.11.03-.213.079-.306.142a.564.564 0 0 1-.16.122.187.187 0 0 1-.156-.056c.005-.16.187-.247.16-.413a.223.223 0 0 0-.268.02c-.148.095-.26.23-.396.337a.253.253 0 0 1-.174.095v-.005l.16-.273c.198-.296.469-.535.787-.694.41-.179.861-.074 1.088-.455.176-.298.137-.784.212-1.187.114-.619.158-1.261.288-1.853l.103-.51c.148-.503.355-.987.617-1.44.12-.207.218-.42.353-.61.202-.285.438-.546.654-.816.285-.363.607-.695.96-.99.416-.385.852-.745 1.31-1.08A6.222 6.222 0 0 1 11.042.35c.283-.071.586-.098.89-.15l.94-.08.293-.014.553-.018ZM10.145 5.56a.354.354 0 0 0-.292-.342.331.331 0 0 0-.179.037c.064-.295.532-.43.942-.356.694.126 1.087.534 1.869.549a2.345 2.345 0 0 0-.815-1.463.866.866 0 0 0-.612-.17.343.343 0 0 1 .146-.206.763.763 0 0 1 .165-.126c.343-.15.885-.07 1.22.033a5.68 5.68 0 0 1 1.643.82c.195.14.364.31.55.46.214.196.448.368.697.515a.52.52 0 0 0 .32.103c.262-.047.173-.461.104-.652-.029-.081-.112-.177-.005-.202a.763.763 0 0 1 .49.09c.335.188.619.457.824.783.887 1.257.99 3.388 1.125 5.38l.278.094c.174.043.344.101.508.174l.118-.343c.076-.238.136-.483.193-.74.11-.494.129-1.008.217-1.53l.033-.563.009-.431-.005-.352-.01-.408v-.586l-.009-.46c-.047-.283-.027-.567-.084-.825a4.491 4.491 0 0 0-.938-1.923 3.645 3.645 0 0 0-.542-.54c-.449-.36-.856-.773-1.435-1.004-.639-.254-1.657-.219-2.388-.066-.246.052-.496.074-.715.142-1.055.321-1.785.886-2.552 1.482-.767.596-1.645 1.412-2.057 2.346-.084.19-.139.388-.212.6.106-.009.21-.03.31-.066l.66-.164c.138-.05.282-.08.43-.09ZM6.954 9.524h.015l-.095.164-.164.35a8 8 0 0 0-.32 1.136l-.095.492h-.023a.375.375 0 0 0-.213 0l-.01-.01a1.38 1.38 0 0 1-.075-.82c.112-.533.317-.953.712-1.199.082-.051.178-.066.268-.113Zm4.51.142c.088.003.176.017.26.042l-.089.239-.217.535c-.146.344-.295.68-.442 1.013a1.96 1.96 0 0 1-.298.53c-.22-.027-.31-.253-.499-.32.016-.246.073-.489.17-.717.16-.503.305-.933.71-1.187a.97.97 0 0 1 .269-.118l.136-.017Zm-4.1 2.044c-.24 0-.48-.009-.715-.005V11.7a.702.702 0 0 1 .602-.436c.09.13.13.288.113.446Zm1.346-.155c.19-.002.38.02.565.065l.048.244a.499.499 0 0 1 .023.24c-.238.253-.787-.08-.984-.164l-.245-.08.01-.01a.553.553 0 0 1 .4-.272l.183-.023Zm9.42.586c.003-.27-.237-.318-.47-.356h-.16l-.19.164a4.415 4.415 0 0 0-1.125 2.017c-.065.23-.209.6-.042.82.022.041.06.071.103.085a.365.365 0 0 1 .334-.202c.188.166.145.701.208 1.004l.07.258.005-.01c.061-.11.107-.229.137-.351.128-.365.21-.773.33-1.15.181-.483.435-.937.752-1.345.128-.188.231-.391.306-.606a.583.583 0 0 0 .057-.253.335.335 0 0 0-.315-.075Zm-11.896.417a2.088 2.088 0 0 1 1.62.793c.084.105.185.2.268.31.272.36.479.765.612 1.196.335 1.07.13 2.586-.17 3.532-.081.255-.196.491-.296.728-.192.449-.317.816-.857.924-.129.023-.261.024-.39.004l-.287-.066a2.456 2.456 0 0 1-.702-.399.51.51 0 0 0-.339-.142c-.116.03-.173.239-.216.347l-.085.263c-.132.525.69.69 1.017.849l-.005.01a1.99 1.99 0 0 1-.315.178.866.866 0 0 1-.523-.066c-.394-.17-.6-.55-.814-.9a6.146 6.146 0 0 1-.495-.99c-.28-.717-.313-1.66-.315-2.645a7.69 7.69 0 0 1 .019-1.206c.028-.242.072-.482.132-.718a3.108 3.108 0 0 1 1.393-1.782c.15-.083.31-.144.476-.183l.272-.037Zm12.936.095-.118.028a1.09 1.09 0 0 0-.264.15c-.148.132-.27.292-.358.47a6.246 6.246 0 0 0-.612 1.693c-.06.246-.068.506-.112.773a.319.319 0 0 0 .066.328.227.227 0 0 0 .25-.131c.04-.095.068-.194.084-.296l.17-.642c.169-.506.434-.974.78-1.38.17-.154.33-.32.476-.496.154-.26-.084-.501-.362-.498v.001Z')
  else if i == "scrollmagic" || i == "scroll magic" || i == "scrollmagic.js"
    svg(viewBox='0 0 24 24' class="scrollmagic" xmlns='http://www.w3.org/2000/svg', space='preserve', style='fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2')
      path(d='M76.796 71.007c.146 2.15.349 4.289.619 6.398 0 3.964-12.263 7.177-27.391 7.177-15.128 0-27.391-3.213-27.391-7.177h.001c.271-2.113.474-4.255.619-6.407C12.18 73.143 5 76.583 5 80.464c0 6.501 20.147 11.771 45 11.771 24.854 0 45-5.27 45-11.771 0-3.875-7.159-7.312-18.204-9.457Z', style='fill-rule:nonzero', transform='matrix(.24507 0 0 .25887 -.08 -.638)')
      path(d='M81.816 17.57c-.853 4.201-14.758 7.543-31.793 7.543-17.032 0-30.94-3.34-31.793-7.54 0 0 6.329 25.827 5.157 50.938 1.208 3.558 12.669 6.349 26.636 6.349 13.971 0 25.433-2.791 26.637-6.351-1.169-25.067 5.134-50.847 5.156-50.939Z', style='fill-rule:nonzero', transform='matrix(.24507 0 0 .25887 -.08 -.638)')
      path(d='M81.857 15.715c0 .134-.012.266-.039.398-.83 4.205-14.748 7.551-31.794 7.551-17.032 0-30.94-3.34-31.793-7.54a2.012 2.012 0 0 1-.041-.409c0-4.39 14.253-7.949 31.834-7.949s31.833 3.558 31.833 7.949Z', style='fill-rule:nonzero', transform='matrix(.24507 0 0 .25887 -.08 -.638)')
  else if i == "concrete5" || i == "concrete 5"
    svg(xmlns='http://www.w3.org/2000/svg' class="concrete5" viewBox='0 0 100 100')
      path(d='M52 99c-7.6 0-16.2-1.8-23.6-7.7-12.7-10.2-12.2-26.1 1.3-35.1 11.7-7.8 24.6-8.4 37.7-3.8 4 1.4 5.8 4.1 5.3 6.7-.7 3.6-3.8 6.2-7.9 6-4.4-.2-8.7-.9-13-1.5-7.7-1-13.9 4.4-13.5 11.9.3 4.7 4.1 8.4 10 9.5 7 1.3 13.1-.2 18.2-5.4 4-4.1 7.9-8.3 12.2-12.2 2.3-2.1 5.2-3.8 8-5.2 1.4-.7 3.5-.7 5.1-.4 3.9.8 4.8 3.1 2.5 6.3-7.2 9.9-15.3 18.8-25 26.1-4.5 3.5-10.1 4.6-17.3 4.8zm-.8-77.4c0-4.6-.2-9.2.1-13.7.1-1.9.8-4.1 2-5.6.8-1.1 2.8-1.9 4.2-1.8 1.2.1 2.2 1.8 3.2 2.8.3.4.5 1.1.5 1.7.1 11.6.7 23.2-1.7 34.6-.4 2.1-.7 5.1-3.3 5.2-2.9.1-3.4-3-3.7-5.2-.8-6-1.3-12-1.9-18 .2.1.4.1.6 0zm-8.4 17.3c-.4 2.4-.6 4.5-1.2 6.4-.8 2.3-2.8 2.6-4.2.8-1.2-1.5-2.4-3.2-2.8-5-2-8.9-3.8-17.8-5.6-26.7-.2-1.1-.3-2.6.2-3.4 1-1.4 2.3-3 3.8-3.4 1.1-.3 3.3 1.1 3.8 2.2 1.3 3.3 2.3 6.8 2.9 10.3 1.2 6.2 2.1 12.7 3.1 18.8zm39-21.3c-1.4 9.5-3.1 19-7.1 27.8-.9 1.9-1.9 4.7-4.6 4-2.7-.7-2.5-3.7-2.2-5.7 1.2-8.1 2.7-16.1 4.2-24.1.3-1.6.7-3.2 1.2-4.8.9-2.6 2.7-4.3 5.5-3.9 2.8.4 3 2.9 3.1 5.2 0 .6-.1 1-.1 1.5zM24.6 56.1c-1.1-1.3-2.6-2.4-3.3-3.8-3.3-6.1-6.7-12.3-9.5-18.6-.9-2-.8-4.8-.3-7 .7-3.2 4.1-3.8 6.3-1.4.7.7 1.3 1.6 1.5 2.5 2.2 8.3 4.3 16.7 6.3 25 .2.9-.1 2-.1 3l-.9.3z')








- let clientSiteCount = 0
mixin clientSiteSummary(s)
  if s.description && s.screenshots
    .client-site.featured
      figure
        if s.screenshots
          .screenshots.slick-slider
            each shot in s.screenshots
              img(src="../img/client-sites/"+shot)
      figcaption
        if s.title
          .title
            span= s.title
        if s.client
          .subhead= s.client
        if s.description
          .description !{s.description}
        if s.problem
          .problem
            h3 The Problem
            | !{s.problem}
        if s.solution
          .solution
            h3 The Solution
            | !{s.solution}
        if s.url
          .visit-site
            a(href=s.url) Visit Site

      if s.tech || s.cms
        .tech
          each tech in s.tech
            .tooltip(data-tippy-content=tech)
              +techIcon(tech)
          if s.cms
            .tooltip(data-tippy-content=s.cms)
              +techIcon(s.cms)
  else
    .client-site.simple
      if s.title
        .title
          span= s.title
      if s.client
        .subhead= s.client
      if s.screenshots
        figure
          .screenshot
            img(src="../img/client-sites/"+s.screenshots[0])
      if s.description
        .description !{s.description}
      if s.problem
        .problem
          h3 The Problem
          | !{s.problem}
      if s.solution
        .solution
          h3 The Solution
          | !{s.solution}
      if s.tech || s.cms
        .tech
          each tech in s.tech
            .tooltip(data-tippy-content=tech data-tippy-placement="bottom")
              +techIcon(tech)
          if s.cms
            .tooltip(data-tippy-content=s.cms)
              +techIcon(s.cms)
      .visit-site
        if s.url
          a(href=s.url) Visit Site