//- var imgPath = "../email"
- var imgPath = "https://thefpl.us/email"

- var font = 'font-family: Palatino, Palatino Linotype, Palatino LT STD, Book Antiqua, Georgia, serif;'
- var linkStyle = font + ' color:#313131; text-decoration:none; font-size:16px'

html
  head
    title Email signature, v.1
  body

    style.
      a.siglink, a.siglink[href] {text-decoration:none !important;}
      a.siglink:hover { color:#C75E28 !important }

    table(style="margin-top:100px;")
      tr
        td(style="vertical-align:center;")
          img(src=imgPath+"/lemon-square.png" width="75" height="75")

        td(style="padding-left:15px;")
          table
            tr
              td(style="padding-bottom:5px;")
                a.siglink(style=linkStyle href="https://ahoylemon.xyz")
                  span(style='font-size:26px;') Lemon.
            tr
              td
                a.siglink(href="https://thefpl.us" style=linkStyle)
                  span(style="text-decoration:none") The F Plus
                | &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                a.siglink(href="https://twitter.com/AhoyLemon" style=linkStyle)
                        span(style="text-decoration:none") Twitter
                | &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                a.siglink(href="https://github.com/AhoyLemon" style=linkStyle)
                  span(style="text-decoration:none") GitHub