include partials/_variables.pug
- const pageTitle = "These are the decks I've written."
- const slug = "decks"

doctype html
html(lang="en")
  head
    include partials/_mixins.pug
    include partials/_head.pug
  body
    //
      
      I like traveling, and speaking at different conferences.
      Maybe you'll invite me to yours?
      
          - 🍋

    include partials/_aside.pug
    
    main.decks

      .talk-grid.deck-grid

        figure.leading
          a(name="upcoming")
          h2 Talks Given &raquo;
        each deck,index in myDecks
          figure.deck
            .details

              // Deck Title
              .title= deck.title
              
              if deck.history
                table
                  tbody
                    each history in deck.history
                      tr
                        if history.online
                          td.location.virtual
                            img(src="/svg/virtual-talk.svg")
                        else if history.flag
                          td.location.country
                            img(src="/svg/flags/"+history.flag+".svg")
                        td.conf
                          span.name= history.name
                          if history.video
                            span.video
                              a(href=history.video) Video
                        if history.date
                          - const yearSplit = history.date.split("-")
                          td.year= yearSplit[0]
                        else if history.startDate
                          - const yearSplit = history.startDate.split("-")
                          td.year= yearSplit[0]

            if deck.url || deck.sessionize || deck.pubconf
              .deck-links
                if deck.sessionize
                  .sessionize
                    .icon
                      svg.icon(role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg")
                        title Sessionize
                        path(d="M12 0c6.628 0 12 5.372 12 12v10c0 1.097-.903 2-2 2h-7.5l-.001-.169c-.049-2.894-1.347-4.902-3.709-5.96L24 12l-.32-.109c-2.858-.999-5.251-2.462-7.18-4.391-1.928-1.928-3.392-4.322-4.391-7.181L12 0 4 18c0 .667.167 1.167.5 1.5.334.334.834.5 1.5.5l.187.001c3.771.04 5.313 1.295 5.313 3.999H2c-1.097 0-2-.903-2-2V2C0 .903.903 0 2 0h10Zm7.207 4.793c-.781-.781-1.73-1.097-2.121-.707-.39.39-.074 1.34.707 2.121.781.781 1.731 1.098 2.121.707.391-.39.074-1.34-.707-2.121Z")
                    .link(colspan="2")
                      a(href=deck.sessionize target="_blank") Sessionize
                if deck.url
                  .slides
                    .icon
                      svg(viewBox="0 0 1200 1200" xmlns="http://www.w3.org/2000/svg")
                        path(d="m442.85 260.63-6.027 31.758-75.508 399 159.79 30.242-11.902-68.059-72.352-13.699 57.484-303.7 367.78 69.605 99.37-17.395 5.4-28.566zm-62.062 99.656-308.41 28.535 2.969 32.164 37.406 404.34 419.71-38.793-5.051-28.727-126.84-24.023-229.39 21.215-28.473-307.77 225.57-20.867zm671.26 55.336-525.36 91.922 5.586 31.82 69.984 400.01 525.36-91.922zm-52.527 74.812 53.285 304.46-398.02 69.668-53.254-304.49z")
                    .link(colspan="2")
                      a(href=deck.url target="_blank") Slide Deck
                if deck.pubconf
                  .pubconf
                    .logo
                      img(src="/svg/pubconf-dark.svg")

        figure.back-home
          a(href="/")
            span Back Home

    include partials/_javascripts.pug