include partials/_variables.pug

doctype xml
rss( version="2.0" xmlns:content="http://purl.org/rss/1.0/modules/content/" xmlns:atom='http://www.w3.org/2005/Atom' )
  channel
    title ahoylemon 🍋 xyz
    link= siteURL
    author
      name Lemon
      email #{emailAddress}
      url https://ahoylemon.xyz
    language en-us
    description= description
    icon #{siteURL}/apple-touch-icon-120x120.png
    image
      url #{siteURL}/apple-touch-icon-120x120.png
      title Lemon Logo
      link #{siteURL}
      width 120
      height 120

    each s,index in lemonSites
      item
        - var fileName = ""
        title= s.title
        link= s.url
        guid= s.url
        description= s.description
        pubDate= s.launched
        if s.fgImage
          if s.fgImage.includes("svg")
            - fileName = "svg/"+s.fgImage
          else if s.fgImage
            - fileName = "img/"+s.fgImage
        else if s.bgImage
          - fileName = "img/"+s.bgImage
        if fileName
          image
            url #{siteURL}/#{fileName}
            title #{s.title} logo
            link= s.url

    each p,index in subpages
      item
        title= p.title
        link= p.url
        guid= p.url
        description= p.description
        pubDate= p.posted