include partials/_variables.pug
- const pageTitle = "Lemon speaks at conferences."
- const slug = "talks"

doctype html
html(lang="en")
  head
    include partials/_mixins.pug
    include partials/_head.pug
  body
    include partials/_aside.pug
    
    main.talks-only

      .talk-grid

        figure.leading
          a(name="upcoming")
          h2 Upcoming Conferences &raquo;
        each t,index in upcomingTalks
          figure.conference
            .details
              .name 
                a(href=t.url target="_blank")= t.name
              .location
                if t.city && t.state
                  span #{t.city}, #{t.state}
                else if t.city && t.country
                  span #{t.city}, #{t.country}
              .date
                +formatDate(t.date)
              .presenting Presenting:
                if t.talks
                  ul.multiple-talks
                    each u,uindex in t.talks
                      li.talk= u
                else if t.talk
                  ul
                    li.talk= t.talk

        figure.map
          a.absolute-link(href="https://drive.google.com/open?id=1UXVK7n3Sxknm92AQXx6WoIgNDiKFC9OW&usp=sharing" target="_blank")
            span Location Map

      .talk-grid
        figure.leading
          a(name="previous")
          h2 Previous Conferences &raquo;
        each t,index in previousTalks
          .conference
            .details
              .name
                a(href=t.url target="_blank")= t.name
              .location
                if t.city && t.state
                  span #{t.city}, #{t.state}
                else if t.city && t.country
                  span #{t.city}, #{t.country}
              .date
                +formatDate(t.date)
              if t.talks || t.talk
                .presenting Presented:
                  if t.talks
                    ul.multiple-talks
                      each u,uindex in t.talks
                        if u.video && u.name
                          li.talk
                            a(href=u.video) #{u.name} (Video)
                        else if u.slides && u.name
                          li.talk
                            | #{u.name} (
                            a(href=u.slides) Slides
                            | )
                        else if u.url && u.name
                          li.talk
                            a(href=u.url) #{u.name}
                        else
                          li.talk= u
                  else if t.talk
                    ul
                      li.talk= t.talk
            .pics
              if t.pics
                a.close-cardpic() 
                  span X
                each pic, index in t.pics
                  a.pic(data-pic=pic style="background-image:url(img/talks/"+pic+")")
              else if t.img
                a.close-cardpic
                  span X
                a.pic(data-pic=t.img style="background-image:url(img/talks/"+t.img+")")
                

            figure.cardpic
    
        figure.back-home
          a(href="/")
            span Back Home

    include partials/_javascripts.pug