include partials/_variables.pug

//include partials/_sites.pug

doctype html
html(lang="en")
  head
    include partials/_mixins.pug
    include partials/_head.pug
  body
    include partials/_aside.pug
    
    main.talks-only

      .talk-grid

        figure.leading
          a(name="upcoming")
          h2 Upcoming Conferences &raquo;
        each t,index in upcomingTalks
          figure.conference
            .details
              .name
                a(href=t.url)= t.name
              .location
                if t.city && t.state
                  span #{t.city}, #{t.state}
                else if t.city && t.country
                  span #{t.city}, #{t.country}
              .date
                +formatDate(t.date)
              .presenting Presenting:
                if t.talks
                  ul.multiple-talks
                    each u,uindex in t.talks
                      li.talk= u
                else if t.talk
                  ul
                    li.talk= t.talk
      .talk-grid
        figure.leading
          a(name="previous")
          h2 Previous Conferences &raquo;
        each t,index in previousTalks
          .conference
            .details
              .name
                a(href=t.url)= t.name
              .location
                if t.city && t.state
                  span #{t.city}, #{t.state}
                else if t.city && t.country
                  span #{t.city}, #{t.country}
              .date
                +formatDate(t.date)
              if t.talks || t.talk
                .presenting Presented:
                  if t.talks
                    ul.multiple-talks
                      each u,uindex in t.talks
                        if u.url
                          li.talk
                            a(href=u.url) #{u.name} (Video)
                        else
                          li.talk= u
                  else if t.talk
                    ul
                      li.talk= t.talk
            .pics
              if t.pics
                a.close-cardpic() 
                  span X
                each pic, index in t.pics
                  a.pic(data-pic=pic style="background-image:url(img/talks/"+pic+")")
              else if t.img
                a.close-cardpic
                  span X
                a.pic(data-pic=t.img style="background-image:url(img/talks/"+t.img+")")
                

            figure.cardpic
    


  script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js")
  link(href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.css" rel="stylesheet")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js")
  script.
    $('.upcoming-conference-carousel').slick({
      prevArrow: '<button type="button" class="slick-prev slick-arrow">&lt;</button>',
      nextArrow: '<button type="button" class="slick-next slick-arrow">&gt;</button>',
      //arrows: false,
      dots: true,
      infinite: true,
      slidesToShow: 2,
      slidesToScroll: 2
    });

    $('.previous-conference-carousel').slick({
      prevArrow: '<button type="button" class="slick-prev slick-arrow">&lt;</button>',
      nextArrow: '<button type="button" class="slick-next slick-arrow">&gt;</button>',
      //arrows: false,
      dots: true,
      infinite: true,
      slidesToShow: 2,
      slidesToScroll: 2
    });

    $('.conference a.pic').click(function() {
      let f = $(this).attr('data-pic');
      let i = 'img/talks/'+f;
      $(this).parent().siblings('.cardpic').css('background-image', 'url('+i+')');
      $(this).parent().siblings('.cardpic').addClass('visible');
      $(this).siblings('a.close-cardpic').addClass('visible');
    });

    $('a.close-cardpic').click(function() {
      $(this).parent().siblings('.cardpic').removeClass('visible');
      $(this).removeClass('visible');
    });

  script.
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-15129990-14', 'auto');
    ga('send', 'pageview');