include partials/_variables.pug
- const pageTitle = "Lemon speaks at conferences."
- const slug = "talks"

doctype html
html(lang="en")
  head
    include partials/_mixins.pug
    include partials/_head.pug
    link(rel="canonical" href=siteURL+"/talks.html")
  body
    //
      
      I like traveling, and speaking at different conferences.
      Maybe you'll invite me to yours?
      
          - 🍋

    include partials/_aside.pug
    
    main.talks-only

      // UPCOMING CONFERENCES
      .talk-grid
        figure.leading
          a(name="upcoming")
          h2 Upcoming Conferences &raquo;
        each t, index in upcomingTalks

          figure.conference(itemscope itemtype="http://schema.org/Event")
            .details
              if t.flag
                - let flagAlt
                if t.country
                  - flagAlt = "flag of " + t.country
                else if t.flag == "us"
                  - flagAlt = "flag of United States"
                else
                  - flagAlt = t.flag.toUpperCase() + " flag"
                img.flag(src="/svg/flags/" + t.flag + ".svg", alt=flagAlt)
              a(name=t.slug, class="anchor")
              .name
                if t.url && t.name
                  a(href=t.url, target="_blank", itemprop="url")
                    span(itemprop="name")= t.name
                else if t.name
                  span(itemprop="name")= t.name

              if t.online
                .organizer(itemprop="organizer" itemscope itemtype="https://schema.org/Organization")
                  meta(itemprop="name" content=t.name)
                  meta(itemprop="url" content=t.url)
                  
                .location(itemprop="location" itemscope itemtype="http://schema.org/VirtualLocation")
                  if t.city && t.state
                    span(itemprop="name") #{t.city}, #{t.state} (Virtual)
                  else if t.city && t.country
                    span(itemprop="name") #{t.city}, #{t.country} (Virtual)
                  else
                    span Online conference
                
              else 
                .location(itemprop="location" itemscope itemtype="http://schema.org/City")
                  if t.city && t.state
                    span(itemprop="name") #{t.city}, #{t.state}
                  else if t.city && t.country
                    span(itemprop="name") #{t.city}, #{t.country} 
                  if t.address
                    meta(itemprop="address" content=t.address)

              // Date
              if t.postponed
                strong POSTPONED
              else if t.startDate && t.endDate
                .date
                  span(itemprop="startDate" content=t.startDate)
                    +formatDate(t.startDate, "m d")
                  | - 
                  span(itemprop="endDate" content=t.endDate)
                    +formatDate(t.endDate)
              else if t.date
                .date(itemprop="startDate" content=t.date)
                  +formatDate(t.date)
                meta(itemprop="endDate" content=t.date)

              // Talks
              .presenting Presenting:
                if t.talks
                  ul.multiple-talks
                    each u,uindex in t.talks
                      if typeof u === 'string'
                        li.talk
                          span.talk-name(itemprop="workFeatured")= u
                      else if typeof u === 'object'
                        li.talk
                          if u.name
                            span.talk-name(itemprop="workFeatured")= u.name
                          if u.slides || u.video || u.keynote || u.blindDeck || u.host || u.workshop
                            span.talk-supplements
                              if (u.keynote)
                                span.keynote KEYNOTE
                              if (u.workshop)
                                span.workshop WORKSHOP
                              if (u.host)
                                span.keynote HOST
                              if (u.blindDeck)
                                span.blind-deck BLIND DECK
                              if (u.slides)
                                span
                                  a(href=u.slides) Slides
                              if (u.video)
                                span 
                                  a(href=u.video) Video
                else if t.talk
                  ul
                    li.talk= t.talk
              
              div(itemprop="performer" itemscope itemtype="http://schema.org/Person")
                meta(itemprop="name" content="Lemon")
                meta(itemprop="url" content=siteURL)

        figure.map
          a.absolute-link(href="https://drive.google.com/open?id=1UXVK7n3Sxknm92AQXx6WoIgNDiKFC9OW&usp=sharing" target="_blank")
            span Location Map

      // PREVIOUS CONFERENCES
      .talk-grid.previous
        figure.leading
          a(name="previous")
          h2 Previous Conferences &raquo;
        each t,index in previousTalks

          // Add the "Aiports I Have Known" map
          if index === 7
            figure.airport-map
              iframe(src="https://www.google.com/maps/d/u/0/embed?mid=1uZYZYquIbRfnRUcPlA9tA4Z3c0P6fTI&ehbc=2E312F&ll=47%2C-55&z=3")

          .conference(itemscope itemtype="http://schema.org/Event")
            .details
              if t.online
                img.virtual-icon(src="/svg/virtual-talk.svg" alt="icon of virtual conference")
              else if t.flag
                - let flagAlt
                if t.country
                  - flagAlt = "flag of "+t.country
                else if t.flag == "us"
                  - flagAlt = "flag of United States"
                else
                  - flagAlt = t.flag.toUpperCase() + " flag"
                img.flag(src="/svg/flags/"+t.flag+".svg" alt=flagAlt)
              a(name=t.slug class="anchor")
              .name 
                if t.url && t.name
                  a(href=t.url target="_blank" itemprop="url")
                    span(itemprop="name")= t.name
                else if t.name
                  span(itemprop="name")= t.name
              
              .location(itemprop="location" itemscope itemtype="http://schema.org/City")
                if t.city && t.state
                  span(itemprop="name") #{t.city}, #{t.state}
                else if t.city && t.country
                  span(itemprop="name") #{t.city}, #{t.country}  
                if t.address
                  meta(itemprop="address" content=t.address) 

                if t.online
                  span &nbsp;(Virtual)

              // Date
              if t.startDate && t.endDate
                .date
                  span(itemprop="startDate" content=t.startDate)
                    +formatDate(t.startDate, "m d")
                  | - 
                  span(itemprop="endDate" content=t.endDate)
                    +formatDate(t.endDate)
              else if t.date
                .date(itemprop="startDate" content=t.date)
                  +formatDate(t.date)
                meta(itemprop="endDate" content=t.date)

              div(itemprop="performer" itemscope itemtype="http://schema.org/Person")
                meta(itemprop="name" content="Lemon")
                meta(itemprop="url" content=siteURL)

              if t.talks || t.talk
                .presenting Presented:
                  if t.talks
                    ul.multiple-talks
                      each u,uindex in t.talks

                        if typeof u === 'string'
                          li.talk(itemprop="workFeatured")= u
                        else if typeof u === 'object'
                          li.talk
                            if u.name
                              span(itemprop="workFeatured")= u.name
                            if u.slides || u.video || u.keynote || u.blindDeck
                              span.talk-supplements
                                if (u.keynote)
                                  span.keynote KEYNOTE
                                if (u.blindDeck)
                                  span.blind-deck BLIND DECK
                                if (u.slides)
                                  span
                                    a(href=u.slides) Slides
                                if (u.video)
                                  span 
                                    a(href=u.video) Video
                                
                  else if t.talk
                    ul
                      li.talk(itemprop="workFeatured")= t.talk

            .pics
              if t.pics
                button.close-cardpic(title="close large image view")
                  span X
                each pic, index in t.pics
                  button.pic(data-pic=pic title="view larger image")
                    img(src='/img/talks/'+pic itemprop="image" loading="lazy" alt="thumbnail photo from "+t.name)
              else if t.img
                button.close-cardpic(title="close large image view")
                  span X
                button.pic(data-pic=t.img style="background-image:url(img/talks/"+t.img+")" title="view larger image")
                meta(itemprop="image" content=siteURL+'/img/talks/'+t.img)  

            figure.cardpic
    
        figure.decks
          a(href="/decks.html") Decks I've Presented

        figure.back-home
          a(href="/")
            span Back Home

        // Add country list table
        //include partials/_passport-stamps.pug

    include partials/_javascripts.pug