include partials/_variables.pug
- const pageTitle = "Lemon speaks at conferences."
- const slug = "talks"

doctype html
html(lang="en")
  head
    include partials/_mixins.pug
    include partials/_head.pug
  body
    include partials/_aside.pug
    
    main.talks-only

      .talk-grid

        figure.leading
          a(name="upcoming")
          h2 Upcoming Conferences &raquo;
        each t,index in upcomingTalks
          figure.conference(itemscope itemtype="http://schema.org/Event")
            .details
              .name 
                a(href=t.url target="_blank" itemprop="url")
                  span(itemprop="name")= t.name

              .location(itemprop="location" itemscope itemtype="http://schema.org/City")
                if t.city && t.state
                  span(itemprop="name") #{t.city}, #{t.state}
                else if t.city && t.country
                  span(itemprop="name") #{t.city}, #{t.country}  
                if t.address
                  meta(itemprop="address" content=t.address) 

              // Date
              if t.startDate && t.endDate
                .date
                  span(itemprop="startDate" content=t.startDate)
                    +formatDate(t.startDate, "m d")
                  | - 
                  span(itemprop="endDate" content=t.endDate)
                    +formatDate(t.endDate)
              else if t.date
                .date(itemprop="startDate" content=t.date)
                  +formatDate(t.date)
                meta(itemprop="endDate" content=t.date)

              // Talks
              .presenting Presenting:
                if t.talks
                  ul.multiple-talks
                    each u,uindex in t.talks
                      li.talk(itemprop="workFeatured")= u
                else if t.talk
                  ul
                    li.talk= t.talk
              
              div(itemprop="performer" itemscope itemtype="http://schema.org/Person")
                meta(itemprop="name" content="Lemon")
                meta(itemprop="name" content=siteURL)

        figure.map
          a.absolute-link(href="https://drive.google.com/open?id=1UXVK7n3Sxknm92AQXx6WoIgNDiKFC9OW&usp=sharing" target="_blank")
            span Location Map

      .talk-grid
        figure.leading
          a(name="previous")
          h2 Previous Conferences &raquo;
        each t,index in previousTalks
          .conference(itemscope itemtype="http://schema.org/Event")

            .details
              .name 
                a(href=t.url target="_blank" itemprop="url")
                  span(itemprop="name")= t.name
              
              .location(itemprop="location" itemscope itemtype="http://schema.org/City")
                if t.city && t.state
                  span(itemprop="name") #{t.city}, #{t.state}
                else if t.city && t.country
                  span(itemprop="name") #{t.city}, #{t.country}  
                if t.address
                  meta(itemprop="address" content=t.address) 


              // Date
              if t.startDate && t.endDate
                .date
                  span(itemprop="startDate" content=t.startDate)
                    +formatDate(t.startDate, "m d")
                  | - 
                  span(itemprop="endDate" content=t.endDate)
                    +formatDate(t.endDate)
              else if t.date
                .date(itemprop="startDate" content=t.date)
                  +formatDate(t.date)
                meta(itemprop="endDate" content=t.date)

              if t.talks || t.talk
                .presenting Presented:
                  if t.talks
                    ul.multiple-talks
                      each u,uindex in t.talks
                        if u.video && u.name
                          li.talk
                            a(href=u.video) 
                              span(itemprop="workFeatured") #{u.name}
                              |  (Video)
                        else if u.slides && u.name
                          li.talk
                            span(itemprop="workFeatured") #{u.name}
                            |  (
                            a(href=u.slides) Slides
                            | )
                        else if u.url && u.name
                          li.talk(itemprop="workFeatured")
                            a(href=u.url) #{u.name}
                        else
                          li.talk(itemprop="workFeatured")= u
                  else if t.talk
                    ul
                      li.talk(itemprop="workFeatured")= t.talk

            .pics
              if t.pics
                a.close-cardpic() 
                  span X
                each pic, index in t.pics
                  a.pic(data-pic=pic style="background-image:url(img/talks/"+pic+")")
                  meta(itemprop="image" content=siteURL+'/img/talks/'+pic)
              else if t.img
                a.close-cardpic
                  span X
                a.pic(data-pic=t.img style="background-image:url(img/talks/"+t.img+")")
                meta(itemprop="image" content=siteURL+'/img/talks/'+t.img)  

            figure.cardpic

            div(itemprop="performer" itemscope itemtype="http://schema.org/Person")
              meta(itemprop="name" content="Lemon")
              meta(itemprop="name" content=siteURL)
    
        figure.back-home
          a(href="/")
            span Back Home

    include partials/_javascripts.pug